* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 17;
}

.modal-hidden {
  display: none;
}

.modal-container-wrapper {
  transform: scale(1);
  width: 55%;
  height: 85%;
  overflow-y: scroll;
  transform: translate(40%, -10px);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 85px;
}

.modal-container-wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #eee;
  border-top-right-radius: 10px;
  border-bottom-right-radius: : 10px;
}

.modal-container-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.modal-container-wrapper::-webkit-scrollbar-thumb {
  background-color: #F4C2C2;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.top-container {
  width: 100%;
  display: flex;
}

.left-container {
  width: 45%;
  height: 50vh;
}

.left-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.left-img img {
  max-width: 90%;
  height: 80%;
  position: absolute;
  top: 0;
  transform: translateY(10px);
}

.right-container {
  width: 55%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

#mdiv {
  width: 25px;
  height: 25px;
  order: 2;
  position: absolute;
  right: 0;
  transform: translate(-10px, 10px);
}

#mdiv:hover {
  cursor: pointer;
}

.mdiv {
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: black;
  transform: rotate(45deg);
  Z-index: 1;
}

.md {
  height: 25px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  Z-index: 2;
}

.product-title {
  width: 85%;
  height: auto;
  font-size: 30px;
  display: flex;
  align-items: center;
  order: 1;
}

.product-title p {
  position: relative;
}

.product-title p::after {
  content: '';
  display: block;
  width: 70%;
  height: 1.5px;
  background-color: #F4C2C2;
  position: absolute;
  bottom: 0;
  left: 0;
}

.product-desc {
  width: 85%;
  height: auto;
  order: 3;
}

.remarks {
  width: 85%;
  order: 4;
}

.remarks p {
  font-size: 20px;
  position: relative;
}

.remarks p::after {
  content: '';
  display: block;
  width: 70%;
  height: 1px;
  background-color: #F4C2C2;
  position: absolute;
  bottom: 0;
}

.remarks textarea {
  width: 100%;
  resize: none;
}

.nutri-container {
  width: 100%;
  height: 17vh;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.price {
  order: 2;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.nutri-table {
  order: 1;
  width: 40%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nutri-table table {
  width: 60%;
  justify-content: space-between;
}

.addon-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.addon {
  width: 80%;
  height: 25%;
  margin: 3px;
  display: flex;
}

.addon-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.addon-left p {
  font-size: 18px;
}

.addon-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.addon-right p {
  border: 1px solid ;
  width: 70%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  margin: 0px 5px;
}

.left-btn,
.right-btn {
  height: 5vh;
  width: 15%;
  background-color: #F4C2C2;
  border-style: none;
  border-radius: 5px;
}

.bottom-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.button-container {
  width: 50%;
  height: 15vh;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.button-position {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.button-container button {
  width: 50%;
  height: 45%;
  display: block;
  float: right;
  background-color: #f4c2c2;
  border-style: none;
}

.nutri-container::before,
.addon-container::before,
.bottom-container::before {
  content: '';
  display: block;
  width: 90%;
  height: 1.5px;
  background-color: #F4C2C2;
  position: absolute;
  top: 0;
}

.nutri-container::before,
.bottom-container::before {
  transform: translateX(48px);
}

/* tooltip hover */
.addon-left p {
  font-size: 18px;
}

.addon-left p2 {
  position: relative;
  padding-bottom: 10px;
  white-space: pre-line;
  cursor: help !important;
}

.addon-left p2::before,
.addon-left p2::after {
  --scale: 0;
  position: absolute;
  top: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale));
  transition: 90ms transform;
  transform-origin: bottom center;
}

.addon-left p2::before{
  content: attr(data-tooltip);
  color: white;
  text-align: left;
  padding: .5rem;
  width: max-content;
  max-width: 1300% ;
  background: #333;
  border-radius: .3rem;

}

.addon-left p2:hover::before {
  --scale: 1;
}
